body {
  font-family: Jost;
  font-weight: 500;
  font-size: 16px;
  color: $white;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .menu__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.contacts {
  &__title {
    display: block;
    font-size: 11px;
    line-height: 1.7;
  }
}

.social {
  display: flex;
  align-items: center;
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $orange;
  }
}

.title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 60px;
  line-height: 1.16;
}

.title--line {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 192px;
    height: 2px;
    top: 48px;
    right: 0;
    background-image: url("../images/icons/title-decor.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 28px 72px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $rich-black;
  background-color: $orange;
  border: 1px solid transparent;
}

.card {
  text-align: center;

  &__img {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 10px;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
  }

  &__prices {
    margin-bottom: 15px;
  }

  &__price {
    font-family: Jost;
    font-weight: 700;
    font-size: 20px;
    line-height: 154.69%;
  }

  &__price--old {
    padding-right: 5px;
    color: #c2c2c2;
    text-decoration: line-through;
  }

  &__button {
    width: 100%;
    background-color: transparent;
    color: $orange;
    border: 1px solid $orange;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}