body {
  position: relative;
  font-family: Jost;
  font-weight: 500;
  font-size: 16px;
  color: $white;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu {
  position: relative;
  height: 69px;
  display: flex;
  align-items: center;
  z-index: 5;

  @media (max-width: 768px) {
    height: auto;
    padding: 15px 0;
    justify-content: space-between;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      position: fixed;
      width: 270px;
      height: 100%;
      padding: 20px 20px 35px 20px;
      right: 0;
      top: 0;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: $rich-black;
      transform: translateX(100%);
      transition: transform 0.3s;
      overflow: auto;
      z-index: 2;
    }
  }

  &__wrapper--active {
    transform: translateX(0);
  }

  &__mobile-logo {
    display: none;

    @media (max-width: 768px) {
      display: block;
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;

    @media (max-width: 768px) {
      margin-bottom: 65px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;

      @media (max-width: 1024px) {
        margin-right: 15px;
      }

      @media (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }
  }

  &__link {
    display: block;
    font-size: 14px;
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;

    @media (max-width: 1024px) {
      font-size: 12px;
    }

    @media (max-width: 768px) {
      font-size: 16px;
      text-transform: uppercase;
    }

    &:hover {
      border-color: $white;
    }
  }

  &__burger {
    position: relative;
    display: none;
    width: 35px;
    height: 35px;
    padding: 0;
    padding-left: 10px;
    align-items: center;
    border-radius: 50%;
    background-color: $orange;
    border: none;
    z-index: 3;

    @media (max-width: 768px) {
      display: flex;
    }

    span {
      position: relative;
      display: block;
      width: 16px;
      height: 2px;
      background-color: $rich-black;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 16px;
        height: 2px;
        background-color: $rich-black;
        top: 0;
        left: 0;
        transition: transform 0.3s;
      }

      &::before {
        transform: translateY(-5px);
      }

      &::after {
        transform: translateY(5px);
      }
    }
  }

  &__burger--active {
    span {
      width: 0;

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

.contacts {
  &__title {
    display: block;
    font-size: 11px;
    line-height: 1.7;
  }

  &__phone {
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;

    @media (max-width: 1200px) {
      font-size: 14px;
    }

    &:hover {
      border-color: $white;
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }

  @media (max-width: 768px) {
    display: block;
    margin-bottom: 15px;
    font-size: 21px;
  }
}

.social {
  display: flex;
  align-items: center;
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $orange;

    &:hover {
      transform: scale(1.13, 1.13);
    }
  }
}

.cart {
  @media (max-width: 1024px) {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 60px;
  line-height: 1.16;
}

.title--line {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 192px;
    height: 2px;
    top: 48px;
    right: 0;
    background-image: url("../images/icons/title-decor.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 28px 72px;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $rich-black;
  background-color: $orange;
  border: 1px solid transparent;

  &:hover {
    box-shadow: 10px 10px 10px -2px rgba(244, 146, 77, 0.6);
  }
}

.card {
  max-width: 280px;
  width: 100%;
  text-align: center;

  &__img {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 10px;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
  }

  &__prices {
    margin-bottom: 15px;
  }

  &__price {
    font-family: Jost;
    font-weight: 700;
    font-size: 20px;
    line-height: 154.69%;
  }

  &__price--old {
    padding-right: 5px;
    color: #c2c2c2;
    text-decoration: line-through;
  }

  &__button {
    width: 100%;
    background-color: transparent;
    color: $orange;
    border: 1px solid $orange;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}

.bottom {
  position: relative;
  padding-bottom: 170px;
  background-color: $rich-black;
  background-image: url("../images/bottom-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1024px) {
    padding-bottom: 500px;
  }
}