.footer {
  position: absolute;
  width: 100%;
  bottom: 53px;
  left: 0;

  &__box {
    display: flex;

    @media (max-width: 1024px) {
      margin-bottom: 20px;
    }
  }

  &__logo {
    margin-right: 27px;
  }

  &__welcome {
    max-width: 101px;
    width: 100%;
    margin-right: 65px;
    font-size: 13px;
    color: #5f5f5f;

    @media (max-width: 1200px) {
      margin-right: 30px;
    }

    @media (max-width: 1024px) {
      margin-left: 20px;
    }
  }

  &__address {
    margin-right: 40px;

    @media (max-width: 1200px) {
      margin-right: 30px;
    }

    @media (max-width: 1024px) {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__city {
    display: block;
    font-size: 11px;
    line-height: 20px;
  }
  &__contacts {
    margin-right: 28px;

    @media (max-width: 1024px) {
      margin-bottom: 30px;
      text-align: center;
    }
  }

  &__contact {
    display: block;
    font-size: 11px;
    line-height: 20px;
  }

  &__phone {
    font-size: 21px;
  }

  &__social {
    padding-top: 15px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;

      * {
        margin-right: 0;
      }
    }
  }
}