.header {
  position: absolute;
  width: 100%;
  top: 25px;
  left: 0;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    z-index: 5;
  }

  &--fixed {
    position: fixed;
    top: 0;
    padding: 15px 0;
    background-color: lighten($rich-black, 5%);
    z-index: 5;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__logo {
    margin-right: 20px;
  }
}