.popular {
  padding-top: 55px;
  background-color: $rich-black;

  &__title {
    position: relative;
    margin-bottom: 65px;
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 26px;
  }
}