.works {
  padding-top: 50px;
  background-color: $rich-black;

  @media (max-width: 576px) {
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 70px;

    @media (max-width: 576px) {
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__list {
    display: flex;
    height: 74vw;
    
    @media (max-width: 576px) {
      display: block;
      width: 290px;
      height: 290px;
      margin: 0 auto;

      .works__img {
        margin: 0 2px;
        width: 290px;
        height: 290px;
        object-fit: contain;
      }

      .slick-arrow {
        width: 50px;
        top: auto;
        bottom: -40px;

        &::before {
          display: none;
        }
      }

      .slick-prev {
        left: 50%;
        transform: translateX(-65px);
      }

      .slick-next {
        right: 50%;
        transform: translateX(65px);
      }
    }
  }

   &__wrapper-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30.8% 34.6% 34.6%;
    grid-template-areas: 
    "works__img--1 works__img--1"
    "works__img--4 works__img--5"
    "works__img--8 works__img--5";
  } 

   &__wrapper-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30.8% 29.4% 39.8%;
    grid-template-areas:
      "works__img--2 works__img--3"
      "works__img--6 works__img--7"
      "works__img--9 works__img--9";
  } 

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__img--1 {
    grid-area: works__img--1;
  }

  &__img--2 {
    grid-area: works__img--2;
  }

  &__img--3 {
    grid-area: works__img--3;
  }

  &__img--4 {
    grid-area: works__img--4;
  }

  &__img--5 {
    grid-area: works__img--5;
  }

  &__img--6 {
    grid-area: works__img--6;
  }

  &__img--7 {
    grid-area: works__img--7;
  }

  &__img--8 {
    grid-area: works__img--8;
  }

  &__img--9 {
    grid-area: works__img--9;
  }
}